@{
    ViewData["Title"] = "Web App Info";
}

<div class="text-center">
    <h1 class="display-4">Web Application Information</h1>
    <p class="lead">Web apps are request-based and stateless.</p>
</div>